.additional-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 25px 0 36px 0;
}

.additional-product__wrapper {
  padding: 0 20px;
}

.additional-card {
  border-bottom: 1px solid #cdcdcd;
}

.additional-card__line {
  border-top: 1px solid #cdcdcd;
}

.additional-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 0;
}

.additional-card__description {
  display: flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
}

.additional-card__button-size {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 19px;
}
