.additional-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 25px 0 36px 0;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet) {
    margin-top: 120px;
  }

  @media (min-width: @desktop) {
    position: relative;
    bottom: 250px;
  }
}

.additional-card {
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @desktop) {
    display: flex;
  }
}

.additional-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 0;
}

.additional-card__description {
  display: flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
}

.additional-card__button-size {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 19px;
}

.additional-product__desktop-grid {
  @media (min-width: @desktop) {
    padding-top: 191px;
    display: grid;
    grid-template-columns: 70% 20%;
    gap: 10%;
    padding-bottom: 86px;
  }
}
