.choiсe {
  background-image: url("../../img/index-background-desktop\ 2.jpg");
  background-repeat: no-repeat;
  min-height: 480px;
  width: 100%;
  background-position: 50% 0;

  @media (min-width: @tablet) and (max-width: 1439px) {
    background-image: none;
  }

  @media (min-width: @desktop) {
    background-position: 120% 100%;
    background-size: 720px 694px;
  }
}

//изменить блок
@media (max-width: 400px) {
  .choice__color {
    background-color: rgba(104, 183, 56, 0.85);
    height: 302px;
  }
}

/*.choice__container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

.choice__wrapper {
  @media (min-width: @tablet) {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
  }
}

.choice__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
  padding-top: 27px;

  @media (min-width: @tablet) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: black;
  }
}

.choice__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-align: center;

  @media (min-width: @tablet) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: black;
  }
}

.choice__button {
  @media (min-width: @tablet) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}

.choice__picture {
  text-align: center;

  @media (min-width: @tablet) and (max-width: 1439px) {
    order: 2;
    position: absolute;
    top: 341px;
    width: 709px;
    height: 609px;
  } //размеры картики нужно переделать, добавить ещё один див

  @media (min-width: @desktop) {
    vertical-align: center;
    order: 2;
  }
}
