.contact__adress-block {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  padding-top: 12px;
  margin-bottom: 34px;

  @media (min-width: @tablet) {
    padding: 60px 0;
  }

  @media (min-width: @desktop) {
    width: 570px;
    height: 201px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    position: relative; //временное решение
    top: 95px;
    padding: 0;
  }
}

.contact__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 140px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contact__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
  width: 140px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 159px;
  }
}

@media (min-width: @tablet) {
  .contact__adress--city {
    display: block;
    margin-top: 1em;
  }
}

.contact__map {
  margin-bottom: -4px;
  padding: 0;
  height: 362px;

  @media (min-width: @tablet) {
    height: 400px;
  }

  @media (min-width: @desktop) {
    margin-top: -235px;
  }
}

@media (max-width: @desktop) {
  .contact__adress-block--form {
    background-color: @grey;
  }
}
