.form__wrapper {
  padding: 0 20px;
}

.form__wrapper--contact {
  padding: 26px 20px 24px 20px;
}

.form__wrapper--more {
  padding: 23px 20px 32px 20px;
}

.form__title--name {
  margin: 0;
  padding: 37px 0 39px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  height: 36px;
}

.form__title--contact {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 35px;
}

.form__label {
  margin: auto 0;
  white-space: nowrap;
}

.form__input {
  width: 100%;
  margin-left: 13px;
  height: 46px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.form__item {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.form__line {
  color: #e7e7e7;
  size: 50px;
}

.form__name {
  padding-bottom: 24px;
}

.form__program {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 24px 0;
}

.form__radio-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  padding-bottom: 13px;
}

.form__description {
  width: 280px;
  height: 150px;
}

.form__check-box {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 34px;
}

.form__aside {
  text-align: center;
  padding-top: 21px;
}

.contact__adress-block--form {
  background-color: @grey;
}
