.form__wrapper--contact {
  padding: 26px 0 24px 0;
}

.form__wrapper--more {
  padding: 23px 0;
}

.form__title--name {
  margin: 0;
  padding: 37px 0 39px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  height: 36px;
}

.form__title--contact {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 35px;
}

.form__label {
  margin: auto 0;
  white-space: nowrap;
}

.form__input {
  width: 100%;
  margin-left: 13px;
  height: 46px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.form__item {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.form__line {
  color: #e7e7e7;
  size: 50px;
}

.form__name {
  padding-bottom: 24px;
}

.form__program {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 24px 0;
}

.form__radio-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  padding-bottom: 13px;
}

.form__description {
  width: 100%;
  height: 150px;
}

.form__check-box {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 34px;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__container {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (max-width: @tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form__aside {
  text-align: center;
  padding-top: 21px;

  @media (min-width: @tablet) {
    text-align: left;
  }
}

@media (min-width: @tablet) {
  .form__button {
    padding-right: 61px;

    @media (min-width: @desktop) {
      padding-right: 81px;
    }
  }
}
