.gift {
  background-image: url("../../img/gift-photo-mobile\ 1.jpg");
  height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 39px 0 35px 0;

  @media (min-width: @tablet) {
    height: 200px;
    margin: 69px 0 76px 0;
    background-position: 70% 70%;
  }

  @media (min-width: @desktop) {
    height: 289px;
    min-width: 245px;
    margin: auto 0 0 auto;
  }
}

.gift__wrapper--flex {
  height: 289px;
  padding: auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet) {
    flex-direction: row;
    height: 200px;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

.gift__description {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;

  @media (min-width: @tablet) {
    text-align: left;
  }

  @media (min-width: @desktop) {
    text-align: center;
    padding-bottom: 32px;
  }
}

.gift__image {
  @media (min-width: @desktop) {
    padding-top: 54px;
  }
}
