.gift {
  background-image: url("../../img/gift-photo-mobile\ 1.jpg");
  min-height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 39px 0 35px 0;
}

.gift__wrapper--flex {
  height: 289px;
  padding: auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet) {
    flex-direction: row;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
  }
}

.gift__description {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;

  @media (min-width: @tablet) {
    text-align: left;
  }
}
