.how-work__wrapper{
  padding: 0 20px;
}

.how-work__title{
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
}
.how-work__list{
  list-style-type: none;
  padding:0;
  display: flex;
  flex-direction: column;
}

.how-work__item{
display: flex;
padding-bottom: 20px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: @dark-grey;
}

.how-work__description{
  width:200px;
}

.how-work__icon {
  flex-basis: 60px;
  height:60px;
  background-color: @green;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.how-work__icon--substances{
  background-image: url("../../img/icon_leaf.svg");
}
.how-work__icon--powder{
background-image: url("../../img/icon_tub.svg");
}
.how-work__icon--eat{
  background-image: url("../../img/icon_eat.svg");
  }

  .how-work__icon--alarm{
    background-image: url("../../img/icon_alarm.svg");
    }

