.more-product {
  text-align: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.more-product__symbol {
  font-size: 50px;
  color: #d3d3d3;
  padding: 0;
  margin: 0;
}

.more-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.more-product__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__button--show {
  background-color: #f2f2f2;
  color: @dark-grey;
  font-size: 16px;
  line-height: 20px;
}

.more-product__wrapper {
  padding: 0 20px 25px 20px;
}
