.more-product {
  text-align: center;

  @media (min-width: @tablet) {
    border: 2px solid #f2f2f2;
    height: 511px;
    min-width: 324px;
    padding: 0;
  }

  @media (min-width: @desktop) {
    min-width: 245px;
  }
}

.more-product__symbol {
  font-size: 50px;
  color: #d3d3d3;
  padding: 0;
  margin: 0;
}

.more-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.more-product__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__button--show {
  background-color: #f2f2f2;
  color: @dark-grey;
  font-size: 16px;
  line-height: 20px;
}
