.page-header {
  margin: 0px;

}

.page-header__wrapper {
  padding: 0 20px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #E6E6E6;
  }

  .page-header__logo--burger{
    width:33.32px;
  }
