.page-header {
  margin: 0;

  @media (min-width: @tablet) {
    padding-top: 24px; //? нужно ли.
  }
}

@media (min-width: @tablet) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__container {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @tablet-vis) {
    border-bottom: solid 1px #e6e6e6;
  }
}

@media (min-width: @tablet) {
  .page-header__container {
    justify-content: flex-start;
  }
}

.page-header__logo {
  margin-right: 10px;
  /*outline: 5px solid red;
  outline-offset: -5px;*/
}

.page-header__logo--burger {
  width: 33.32px;
}

@media (min-width: @tablet) {
  .page-header__logo--burger {
    display: none;
  }
}
