.page-footer{
background-color:@grey;
padding-top:40px;
}

.page-footer__wrapper{
  padding:0 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo{
  padding-bottom: 32px;
}

.page-footer_social{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  width:280px;
  height:63px;
}
.social__list{
  display:flex;
  justify-content:space-around;

}

.social__item{
  list-style: none;
}
.social__link{
  text-decoration: none;
  color:black;
}

.page-footer__copyright{
  display:flex;

  justify-content: space-between;
  align-items: center;
  width:280px;
  height:78px;

}
.copyright__link--text{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-decoration: none;
color:@dark-grey;
padding:22px 0;


}

.copyright__link--logo{

  height:34px;
  padding:22px 0;

}
