.page-catalog {
  border-bottom: 1px solid #ebebeb;
}

.page-catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding: 0 20px;
}

.card__description {
  display: flex;
}

.card__image--wrapper {
  width: 50%;
  margin: auto;
}

.card__info {
  width: 50%;
}

.card__image {
  display: block;
  margin: auto;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card__table {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  padding-bottom: 13px;
}

.card__table--value {
  text-align: right;
}

.card {
  border-top: 1px solid #ebebeb;
  padding-bottom: 24px;
}

.card__wrapper {
  padding: 0 20px;
}

.card__button-size {
  font-size: 16px;
  line-height: 20px;
}
